:root {
  --bg-1: rgb(40, 40, 41);
  --bg-2: rgb(34, 34, 34);
  --white: #ffffff;
  --black: #000000;
  --light-grey: #BDBDBD;
  --grey: #55565A;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: calc(5px + 1vw);
  font-family: 'Arial';
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-1);
  color: var(--white);
}

button {
  background: var(--white);
  color: var(--black);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  word-wrap: break-word;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

button::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1); 
  opacity: 0;
  transition: opacity 0.3s ease; 
}

button:active::after {
  opacity: 1;
}

.main {
  padding-top: 60px;
  gap: 60px;
  display: grid;
}

@media (max-width: 768px) {
  .main {
    padding-top: 0px;
  }
}