@font-face {
  font-family: 'Prata'; 
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Prata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial'; 
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Arial.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Italic'; 
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/Arial-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Bold'; 
  font-style: bold;
  font-weight: bold;
  src: url('../assets/fonts/Arial-Bold.ttf') format('truetype');
}