@import url(./fonts.css);
@import url(./base.css);
@import url(./header.css);
@import url(./services.css);
@import url(./form.css);
@import url(./footer.css);

button {
  background: var(--white);
  color: var(--black);
  border: none;
  width: auto;
  border-radius: 5px;
  font-weight: bold;
  padding: 40px;
  font-size: calc(5px + 1vw);
  opacity: 1;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  overflow: hidden;
}
